{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Picker Result</title>
</head>
<body>
    <div class="shadow-lg p-5 mb-5 bg-body-tertiary rounded" >
    <h3>Uploaded Image</h3>
    <img src="{{ url_for('static', filename='images/board_empty.jpg')}}" alt="please refresh if you can see the result"style="width: 20%; height: auto;"></div> 

    <h3>Dominant Colors detected</h3>
    {% for color in colors %}
        <div style="background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }}); width: 100px; height: 100px; display: inline-block;"></div>
    {% endfor %}

    <h3>Select the planche color</h3>
    <form method="post" action="/result">
        {% for i in range(colors|length) %}
            <input type="radio" name="planche_color" value="{{ i }}" id="color{{ i }}">
            <label for="color{{ i }}" style="background-color: rgb({{ colors[i][0] }}, {{ colors[i][1] }}, {{ colors[i][2] }}); width: 50px; height: 50px; display: inline-block;"></label>
        {% endfor %}
        <button type="submit">Submit</button>
        <br/><br/><br/>
        <h4>If the color dont match please select the most similar color and reload the Python proccess</h4>
        <input type="radio" name="planche_color" value="custom" id="customColor">
        <label for="customColor">Custom Color</label>
        <input type="color" name="custom_color" id="customColorPicker" style="display: none;">
        <button type="submit">Reload Python process</button>
        
        
    </form>
    
    <script>
        document.getElementById('customColor').addEventListener('change', function() {
            document.getElementById('customColorPicker').style.display = this.checked ? 'inline-block' : 'none';
        });
    </script>
    </div>
</body>
</html>
{% endblock %}
