{% extends 'base.html' %}
{% block content %}

<div class="shadow-lg p-5 mb-5 bg-body-tertiary rounded" >
    <center>
<h1>Virtual Lab v2023.12 </h1></center><br />

<div style="display: flex; justify-content: space-between; gap: 25px;">
  <div class="card" style="width: 35rem;">
    <img src="{{ url_for('static', filename='images/pic8.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <br /> 
      <h5 class="card-title">Aggregates PSSD</h5>
      <p class="card-text">Upload your image and download the particle size and shape distribution of your aggregates.</p>
      <a href="{{ url_for('virtual_lab1') }}" class="btn btn-success">Use feature</a>
    </div>
  </div>
  
  <div class="card" style="width: 35rem;">
    <img src="{{ url_for('static', filename='images/virt_lab2.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PC-limestone prediction model</h5>
      <p class="card-text">Predict the strength and workability of PC-limestone systems as a function of the mineralogy, fineness, sulfates and alkalis.</p>
      <a href="{{ url_for('comming') }}" class="btn btn-success">Use feature</a>
    </div>
  </div>
  
  <div class="card" style="width: 35rem;">
    <img src="{{ url_for('static', filename='images/virt_lab3.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SEM image characterization</h5>
      <p class="card-text">Get the PSSD of impregnated powders and phase assemblage of PC pastes.</p>
      <a href="{{ url_for('virtual_lab3') }}" class="btn btn-success">Use feature</a>
    </div>
  </div>
  <div class="card" style="width: 35rem;">
    <img src="{{ url_for('static', filename='images/virt4.png')}}" class="card-img-top" alt="...">
    <div class="card-body"><br/>
      <h5 class="card-title">Durability model of blended cements</h5>
      <p class="card-text">Predict the resistivity of PC-blends with SCM type, clinker ratio, w/c, and alkali content.</p>
      <a href="{{ url_for('comming') }}" class="btn btn-success">Use feature</a>
    </div>
  </div>
</div>




{% endblock %}