<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <nav class="navbar bg-body-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/icon.png')}}" alt="Bootstrap" width="40" height="34">
      </a>
    </div>
  </nav>
    <a class="navbar-brand" href="{{ url_for('index') }}">Heidelberg Materials</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashboard') }}">User profile</a>
        </li>
        {% if current_user.id==1 %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin') }}">Administration</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=# >Register</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Upload Files
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url_for('add_post')}}">Upload Files</a>
            <a class="dropdown-item" href="{{url_for('posts')}}">Dowload Files</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">draw</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Virtual Lab</a>
        </li>
      </ul>
      <form method="POST" action="{{url_for('search')}}" class="form-inline my-2 my-lg-0">
        {{ form.hidden_tag() }}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search", name="searched">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  
  </nav>