{% extends 'base.html' %}
{% block content %}
<div class="shadow-lg p-5 mb-5 bg-body-tertiary rounded" >
<h1>Tell us what seems to be wrong :</h1>
<br/> 
<p> Every report of the mal function will help the develloper and the model to improve himself </p><br/><br/>
<form method="POST" action="/">
    {{ form.hidden_tag() }}
    <label for="text_field">Text Field:</label>
    {{ form.text_field(class="form-control") }}<br/>
    {{ form.submit_button(class="btn btn-success") }}
</form>
</div>
{% endblock %}