{% extends 'base.html' %}
{% block content %}


<br></br>
<center>
    <h2>You Searched for : <em>{{ searched }}</em></h2>
    <p> {{ searched }}</p>
</center>
<br/><br/>
{% if posts %}
    {% for post in posts %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h3>{{post.title}}</h3>
        <small>By: {{post.poster.name}}<br/>
        {{post.date_posted}}</small> <br/>
        {{post.content|safe}}<br/>
        <hr/>
        <a href="{{url_for('upload', slug=post.slug)}}"class="btn btn-outline-primary">Download</a>
        <a href="{{ url_for('post',id=post.id) }}"class="btn btn-outline-secondary">Use file</a>
        {% if post.poster_id == current_user.id %}
        <a href="{{ url_for('edit_post',id=post.id) }}"class="btn btn-outline-secondary">Edit post</a>
        {% endif %}
        </div>
    {% endfor %}
{% else %}
    <h2>Sorry your search : <strong>{{ searched }}</strong> was not found</h2>
{% endif %}

{% endblock %}