{% extends 'base.html' %}
{% block content %}

<html>

<div class="shadow-lg p-5 mb-5 bg-body-tertiary rounded" style="width: 120%;" >
<head>
    <title>Aggregates PSSD</title>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</head>
<br>
    <center><h1>Virtual Lab Aggregates PSSD module </h1></center>
    


    <br/> 
    <h3>Step by step calculations </h3><br/>
    <div style="display: flex; justify-content: flex-start; overflow: auto; margin-bottom: 20px;">
    <div style="margin-right: 30px;">
            <p>Upload :</p>
            <img src="{{ url_for('static', filename='images/6-12mm_Red_Samsung_Perso_12MP.png')}}" alt="Image 1" width="250">
        </div>
        <div style="margin-right: 30px;">
            <p>to:</p>
            <img src="{{ url_for('static', filename='images/area_clustering.jpg')}}" alt="Image 1" width="200">
        </div>
        <div style="margin-right: 30px;">
            <p>Necking  Detection:</p>
            <img src="{{ url_for('static', filename='images/necking_detection.jpg')}}" alt="Nexking Detection" width="200">
        </div>
        <div style="margin-right: 30px;">
            <p>Binary map :</p>
            <img src="{{ url_for('static', filename='images/binary_map.jpg')}}" alt="Binary map" width="200">
        </div>
        <div style="margin-right: 30px;">
            <p>Final result:</p>
            <img src="{{ url_for('static', filename='images/pic8.png')}}" alt="Binary map" width="458">
        </div>
    </div>

    <h3>Upload your file and start using this feature</h3>
</br>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.photo.label }}
        {{ form.photo }}
        <input type="submit" class="btn btn-dark" value="Upload">
        <br/>
        <div class="form-group">
            {{ form.backboard.label }}
            {{ form.backboard(class="form-control") }}
        </div>
    </form>
</br>


</div>
</html>


{% endblock %}